.gridProjects{
    display: grid;
    justify-items: center;
    align-items: center;

}

.carousel {
    padding: 50px 10px 50px 80px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 300px;
    height: 200px;
}

.slide {
    border-radius: 0.5rem;
    box-shadow: 0px 0px 7px #666;
    width: 10%;
    height: 10%;
}

.slide:hover{
    transform: rotate3d(0,5,2,90deg) ;

}

.arrow {
    position: absolute;
    filter: drop-shadow(0px 0px 5px #555);
    width: 2rem;
    height: 2rem;
    color: white;
}

.arrow:hover {
    cursor: pointer;
}

.indicators {
    display: flex;
    position: fixed;
    bottom: 8rem;
}

.indicator {
    background-color: #a3e8a3;
    height: 0.5rem;
    width: 0.5rem;
    border-radius: 100%;
    border: none;
    outline: none;
    box-shadow: 0px 0px 5px #555;
    margin: 0 0.2rem;
    cursor: pointer;
}

.indicator-inactive {
    background-color: grey;
}

.cube-container {
    perspective: 800px;
    width: 200px;
    height: 200px;
    margin: 0 auto;
    position: relative;
}

.cube {
    width: 200px;
    height: 200px;
    position: relative;
    transform-style: preserve-3d;
    transform: translateZ(-100px);
    transition: transform 1s;
}

.cube.show-front  { transform: translateZ(-100px) rotateY(   0deg); }
.cube.show-right  { transform: translateZ(-100px) rotateY( -90deg); }
.cube.show-back   { transform: translateZ(-100px) rotateY(-180deg); }
.cube.show-left   { transform: translateZ(-100px) rotateY(  90deg); }
.cube.show-top    { transform: translateZ(-100px) rotateX( -90deg); }
.cube.show-bottom { transform: translateZ(-100px) rotateX(  90deg); }


.side {
    width: 10%;
    height: 10%;
    border-radius: 0.5rem;
    padding: 50px 10px 50px 100px;
    position:center;
    display: flex;
}


.front  {
    background: hsla(100, 90%, 40%, 0.7);
    transform: rotateY(  0deg) translateZ(100px);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.right  {
    background: hsla( 60, 100%, 50%, 0.7);
    transform: rotateY( 90deg) translateZ(100px);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.back   {
    background: hsla(120, 100%, 50%, 0.7);
    transform: rotateY(180deg) translateZ(100px);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}
.left   {
    background: hsla(322, 100%, 50%, 0.61);
    transform: rotateY(-90deg) translateZ(100px);
    position: absolute;
    width: 200px;
    height: 200px;
    border: 1px solid black;
    text-align: center;
}


@keyframes rotateCube {
    from {
        transform: rotateY(0deg);
    }
    to {
        transform: rotateY(360deg);
    }
}
.rotate-button {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.button-rotate-infinite{
    animation: rotateCube 15s infinite linear;
}